<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui" xmlns:f="http://java.sun.com/jsf/core">

<h:head>
    <title>List of workers</title>
</h:head>

<h:body>
    <h:form id="list">
        <p:growl id="growl" life="2000"/>

        <p:panel header="Lista pracowników">

            <p:inputText value="#{workerList.filterValue}"/>
            <p:commandButton value="Refresh" id="refresh" update="list">
            </p:commandButton>

            <p:dataTable value="#{workerList.list}" var="worker">
                <p:column style="width:16px">
                    <p:rowToggler />
                </p:column>
                <p:column headerText="Nazwisko">
                    <h:outputText value="#{worker.lastName}"/>
                </p:column>
                <p:column headerText="Imie">
                    <h:outputText value="#{worker.firstName}"/>
                </p:column>
                <p:column headerText="Rok urodzenia">
                    <h:outputText value="#{worker.birthYear}"/>
                </p:column>
                <p:column headerText="Stanowisko">
                    <h:outputText value="#{worker.position}"/>
                </p:column>
                <p:column headerText="Wynagrodzenie">
                    <h:outputText value="#{worker.salary} PLN"/>
                </p:column>
                <p:column headerText="">
                    <p:commandButton value="Usuń" id="delete" update="list"
                                     action="${workerList.deleteWorker(worker.id)}"/>
                    <p:commandButton value="Dodaj zadanie" id="addTask" action="#{workerList.editWorker(worker.id)}"  onclick="PF('popupNewTask').show();"/>
                </p:column>


                <p:rowExpansion>
                    <p:dataTable value="#{worker.tasks}" var="task">
                        <p:column headerText="Opis">
                            <h:outputText value="#{task.desctiption}"/>
                        </p:column>
                        <p:column headerText="Czas">
                            <h:outputText value="#{task.estimatedTime}"/>
                        </p:column>
                    </p:dataTable>
                </p:rowExpansion>
            </p:dataTable>

        </p:panel>

        <p:panel>
            <p:commandButton value="Dodaj pracownika" type="button" onclick="PF('popupNew').show();"/>
        </p:panel>

    </h:form>
    <p:dialog id="addNewPopup" header="Dodaj Pracownika" widgetVar="popupNew" modal="true" height="300">
        <h:form id="addNewForm">
            <p:panel>
                <h:panelGrid columns="2">
                    <h:outputLabel value="Imie:"/>
                    <p:inputText value="#{workerList.newWorker.firstName}" required="true"/>
                    <h:outputLabel value="Nazwisko:"/>
                    <p:inputText value="#{workerList.newWorker.lastName}" required="true"/>
                    <h:outputLabel value="Rok urodzenia:"/>
                    <p:inputText value="#{workerList.newWorker.birthYear}" required="true"/>
                    <h:outputLabel value="Stanowisko:"/>
                    <p:inputText value="#{workerList.newWorker.position}" required="true"/>
                    <h:outputLabel value="Wynagrodzenie:"/>
                    <p:inputText value="#{workerList.newWorker.salary}" required="true"/>

                </h:panelGrid>

                <p:commandButton value="Dodaj" id="ajax" update="list,addNewPopup" action="#{workerList.addNewWorker}"
                                 onclick="PF('popupNew').close();"/>


            </p:panel>

        </h:form>
    </p:dialog>


    <p:dialog id="addNewTaskPopup" header="Dodaj task" widgetVar="popupNewTask" modal="true" height="300">
        <h:form id="addNewTaskForm">
            <p:panel>
                <h:panelGrid columns="2">
                    <h:outputLabel value="Opis:"/>
                    <p:inputText value="#{workerList.newTask.desctiption}" required="true"/>
                    <h:outputLabel value="Szacowany czas:"/>
                    <p:inputText value="#{workerList.newTask.estimatedTime}" required="true"/>

                </h:panelGrid>

                <p:commandButton value="Dodaj" id="ajax" update="list,addNewTaskPopup" action="#{workerList.addNewTask}"
                                 onclick="PF('popupNewTask').close();"/>


            </p:panel>

        </h:form>
    </p:dialog>


</h:body>
</html>